<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/ico" sizes="32x32" href="../assets/logo/logo.png">
  <title>TestHub</title>
  <meta name="description" content="TestHub 是一款面向开发人员 由流程编排、插件驱动 的自动化测试工具">
  <meta name="keywords" content="测试，前端，后端，程序员，自动化测试">
  <meta property="og:title" content="TestHub" />
  <meta property="og:description" content="TestHub 是一款面向开发人员 由流程编排、插件驱动 的自动化测试工具" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
</head>

<body>
  <div id="root"></div>
  <script>
    console.log('run startServer: window.myAPI', window.myAPI);
    if (window.myAPI) {
      window.myAPI.startServerForSpawn();
    }
  </script>
</body>

</html>