<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goddess.server.dao.AccountMapper">
    <resultMap type="com.goddess.server.entity.Account" id="poMap">
        <result property="id" column="id" />
        <result property="usableAmt" column="usable_amt" />
    </resultMap>
</mapper>