<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" >

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %clr(%level) [%X{traceId}] [%thread] %logger.%M %L - %msg%n"/>


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="console" />
    </root>

    <!-- <logger name="com.croot.pipline.infrastructure.repository.db.dao" level="DEBUG" additivity="false">
        <appender-ref ref="console" />
    </logger> -->
</configuration>