<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.testhub.server.infrastructure.repository.dao.ActionMapper">
    <resultMap type="org.dromara.testhub.server.infrastructure.repository.po.ActionPo" id="poMap">
        <id property="id" column="id" />

        <result property="ownerType" column="owner_type" />
        <result property="ownerId" column="owner_id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="dataType" column="data_type" />
        <result property="type" column="type" />
        <result property="complex" column="complex" />
        <result property="extendInfo" column="extend_info" />

        <result property="remark" column="remark" />
        <result property="deleted" column="deleted" />
        <result property="createUserId" column="create_user_id" />
        <result property="createTime" column="create_time" />
        <result property="modifyUserId" column="modify_user_id" />
        <result property="modifyTime" column="modify_time" />
    </resultMap>
    <delete id="physicsDeleteBatchIds">
        DELETE FROM base_action
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>