<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.testhub.server.infrastructure.repository.dao.CodeGenerateMapper">
    <resultMap type="org.dromara.testhub.server.infrastructure.repository.po.CodeGeneratePo" id="poMap">
        <id property="id" column="id" />

        <result property="type" column="type" />
        <result property="name" column="name" />
        <result property="currentNum" column="current_num" />

        <result property="deleted" column="deleted" />
        <result property="createUserId" column="create_user_id" />
        <result property="createTime" column="create_time" />
        <result property="modifyUserId" column="modify_user_id" />
        <result property="modifyTime" column="modify_time" />
    </resultMap>
    <select id="forUpdate" resultMap="poMap">
        select * from base_code_generate where type = #{type} FOR UPDATE
    </select>
</mapper>